/* .navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
} */

.navbar--links {
    display: flex;
    flex-wrap: nowrap;
}

.navbar--item {
    flex-basis: 20%;
    list-style-type: none;
    font-size: medium;
    padding-right: 5em;
}

.fakeLink {
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
}

.logout {
    margin-top: 1em;
    cursor: pointer;
}

.menuIcon {
    padding: 1em;
}